<!DOCTYPE html>
<html>
  <!-- 내려가면 집있거든요 그 집 위에서 주석쓰시고 얘기하죠 -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-latest.js"></script>

    <!-- style sheet -->
    <link rel="stylesheet" href="./style.css" />
    
    

    <script>
    var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
          return new bootstrap.Toast(toastEl, option)
        })
        </script>

    <title>JunCode</title>
</head>
<body onload="$('.toast').toast('show');">
  <div id="indexTest">1</div>




  <!-- navigation bar -->
  <nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
    <a href="/" class="logo">JunCode</a>
    <ul class="main-nav" id="js-menu">
      <li>
        <a href="/" class="nav-links">Home</a>
      </li>
      <li>
        <a href="https://mosthandsomepart.netlify.com" class="nav-links">Login</a>
      </li>
      <li>
        <a href="#" class="nav-links">Signup</a>
      </li>
      <li>
        <a href="#" class="nav-links">info</a>
      </li>
    </ul>
  </nav>
    

    <script type="text/javascript">
  
      function move_VideoPlayer(){
        location.href = "/videoplayer"
      }
  

   
// 가능성이 보였다
// 현타 집가서 구조좀 생각해봐야지 옴
// 작동안됨 현타옴
const getValueInput = () => {
  // 이게 왜 null인데ㅠ
  let inputValue = document.getElementById("domsextElement").value;
  let searchvalue = inputValue;
  let one = document.getElementById("indexTest").innerHTML = inputValue.indexOf(searchvalue, '이') + 2;
  let two = document.getElementById("indexTest").innerHTML = inputValue.indexOf(searchvalue, '김') + 3;
  let three = document.getElementById("indexTest").innerHTML = inputValue.indexOf(searchvalue, '박') + 4;
  let four = document.getElementById("indexTest").innerHTML = inputValue.indexOf(searchvalue, '최') + 5;
  let five = document.getElementById("indexTest").innerHTML = inputValue.indexOf(searchvalue, '정') + 6;
  let six = document.getElementById("indexTest").innerHTML = inputValue.indexOf(searchvalue, '강') + 7;
  let seven = document.getElementById("insexTest").innerHTML = inputValue.indexOf(searchvalue, '조') + 8;
  let eight = document.getElementById("indexTest").innerHTML = inputValue.indexOf(searchvalue, '윤') + 9;
  let nine = document.getElementById("indexTest").innerHTML = inputValue.indexOf(searchvalue, '야옹') + 10;
  if (one == 2) {
      document.getElementById("valueInput").innerHTML = '우쒸';
  } else if(two == 3) {
      document.getElementById("valueInput").innerHTML = '김씨';
  } else if(three == 4) {
      document.getElementById("valueInput").innerHTML = '박씨';
  } else if(four == 5) {
      document.getElementById("valueInput").innerHTML = '최씨';
  } else if(five == 6) {
      document.getElementById("valueInput").innerHTML = '정씨';
  } else if(six == 7) {
      document.getElementById("valueInput").innerHTML = '강씨';
  } else if(seven == 8) {
      document.getElementById("valueInput").innerHTML = '조씨';
  } else if(eight == 9) {
      document.getElementById("valueInput").innerHTML = '윤씨';
  } else if(nine == 10) {
      document.getElementById("valueInput").innerHTML = '야옹야옹야옹야옹';
  } else {
      document.getElementById("valueInput").innerHTML = '추가예정';
  }
  }
  // let str = 'abcabcabc';
  // let searchvalue = 'ab';
  // let pos = 0;
  // while (true) {
  // let foundPos = str.indexOf(searchvalue, pos);
  // if (foundPos == -1) break;
  // document.getElementById('meowmeowmeowmeow').innerHTML = foundPos;
  // pos = foundPos + 1;
  // }
 

// 집을 부수러왔다. (╯°□°）╯︵ ┻━┻ 안대 끼에에에엑 안대 끼에에ㅔ에에에엑
//                                ┻━┻

//http://bodle.kro.kr:3001
 // ?에서 그댜로 복붙함 ㅇㅎ 서버 오류떠서그렇네 ㅇㅎ
//  ㅡㅡ
 //
//아니 주소가 다르잖아; 여기로 들가심됨 컨트롤 s누르면 바로 저장되서 실시간으로 적용됨
//서버 끄고간듯 올때까지 그냥 코딩하시면 되유 보들이 만든거 망가트리지 않는선에서 암거나 하셔도댐
// 읽기 전용이시네 음 저래도 되던가? 일단 해보시고 안되면 보들이올때까지 코드 구경하시거나
// 건축하셔도댐
// 이제 자유에유 암거나 하셔도댐
// 그거 라이브쉐어 세션 들가셔서 그 카톡으로 보여드림 ㄱㄷ  
// 머하심
// 고라쿠먼
//구경해요 서버열림
//자야되네요 ㅂㅂ
              // ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ\\
            //                                                             \\
          //                                                                 \\
        //                                                                     \\
      //                                                                         \\
    //                                                                             \\
  //                                                                                 \\
//                                                                                     \\
// 이 밑 내 집 놀러오세여ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ \\ 
//                                                                                       \\
//                       ㅣㅡㅡㅡㅡㅣ          ㅣㅡㅡㅡㅡㅣ                  헤으응         \\
//                       ㅣ   ㅣ  ㅣ           ㅣ   ㅣ  ㅣ                                 \\ 
//                       ㅣㅡㅡㅡㅡㅣ          ㅣㅡㅡㅡㅡㅣ                                 \\
//                                                                                        \\
//                                                       _                     헤으응      \\ 
//                                                     ㅣ_ㅣ              _____________= ㅣ\\
//                                                   ㅣㅡㅡㅡㅣ         ㅣㅡㅡㅡㅡㅡㅡㅡㅡㅢ \\
//                                                   ㅣ  ㅢ  ㅣ         ㅣ               ㅣ \\
//  ㅣㅡㅡㅣㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ\\
//  ㅣㅡㅡㅣ                                                                                \\
//  ㅣㅡㅡㅣ                                                                                \\
//  ㅣㅡㅡㅣ                                                                                \\
//  ㅣㅡㅡㅣ                                                                                \\
//  ㅣㅡㅡㅣ                                                                                \\
//  ㅣㅡㅡㅣ                                                                  ㅣㅡㅡㅡㅣ     \\
//  ㅣㅡㅡㅣ                                                                  ㅣ  /  ㅣ      \\
//  ㅣㅡㅡㅣ          ㅣㅡㅡㅡㅡㅣ                   같이 차 한잔 하시죠        ㅣ  \  ㅣ      \\
//  ㅣㅡㅡㅣ          ㅣ       ㅣ                보충제먹고 힘들어하는중        ㅣ     ㅣ       \\
//  ㅣㅡㅡㅣ          ㅣ     ㅇㅣ                                             ㅣ     ㅣ       \\
//  ㅣㅡㅡㅣ          ㅣ       ㅣ               ㅣ    ㅣㅡㅡㅡㅡㅣ    ㅣ        ㅣ     ㅣ       \\
//  ㅣㅡㅡㅣ          ㅣ       ㅣ               ㅣㅡㅡㅣ        ㅣ ㅡㅢ         ㅣ     ㅣ       \\
// 내 집임 놀러오세여ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ\\

</script>




      <div class="cards">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col-">
          <a href="videoplayer?id=1">
          <div class="card h-100">
            <img src="img/thumbnail/파이_사과문_썸네일.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">[논란]파이 사과문</h5>
            </div>
          </div>
          </a>
        </div>
        
        <div class="col-">
          <a href="videoplayer?id=2">
          <div class="card h-100">
              <div class="card-img-frame">
            <img src="img/thumbnail/도쿄올림픽_픽토그램_썸네일.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">도쿄올림픽 픽토그램</h5>
            </div>
          </div>
          </a>
        </div>

        <div class="col-">
          <a href="videoplayer?id=3-1">
          <div class="card h-100">
              <div class="card-img-frame">
            <img src="img/thumbnail/윤이버셜_1_썸네일.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">윤이버셜 1</h5>
            </div>
          </div>
          </a>
        </div>

        <div class="col-">
          <a href="videoplayer?id=3-2">
          <div class="card h-100">
              <div class="card-img-frame">
            <img src="img/thumbnail/윤이버셜_2_썸네일.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">윤이버셜 2</h5>
            </div>
          </div>
          </a>
        </div>

        <div class="col-">
          <a href="videoplayer?id=3-3">
          <div class="card h-100">
              <div class="card-img-frame">
            <img src="img/thumbnail/윤이버셜_3_썸네일.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">윤이버셜 3</h5>
            </div>
          </div>
          </a>
        </div>

        <!-- 도리꺼 -->
        <div class="col-">
          <!-- <a href="https://mosthandsomepart.netlify.com"> -->
          <div class="card h-100">
              <div class="card-img-frame">
            <img src="\img\K-jam.jpg.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <p id="valueInput">야옹야옹</p> 
              <input type="text" id="domTextElement" >    
              <button type="button"  onclick="getValueInput()">적용</button> 
              <div id="meowmeowmeowmeow"></div>
            </div>
          </div>
        </div>
        <!-- 도리꺼 -->

      </div>
    </div>


    <button onclick="location.href='img_upload'">이미지 업로드</button >
      <button onclick="location.href='video_upload'">영상 업로드</button >

  
  
</body>

<!-- script -->
<script type="text/javascript">

let mainNav = document.getElementById("js-menu");
let navBarToggle = document.getElementById("js-navbar-toggle");

navBarToggle.addEventListener("click", function() {
  mainNav.classList.toggle("active");
});


</script>

<!-- 헤으응 -->

</html>
